.wrapper__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  margin: 5px;
  width: 60%;
}

.wrapper__nav .logoShop {
  min-width: 5rem;
  padding: 2px;
  margin: 2px;
  max-width: 10%;
}

.wrapper__nav .navbar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2px;
  margin: 0 2px;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper__nav .navbar li {
  padding: 5px;
}

.wrapper__nav .navbar li a {
  text-decoration: none;
  color: #474747;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.wrapper__nav .wrap__telWorkTime {
  padding: 2px;
  margin-left: 2px;
}

@media all and (max-width: 510px) {
  .wrapper__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
