.modalWindow__part__answer {
	display: none;
	flex-direction: column;
	margin: 50px auto;
	padding: 5px;
	cursor: default;
	max-width: 19rem;
	align-items: flex-end;
	background-color: #fff;
	border-radius: 10px;

	.modalWindow__part__answer__close {
		@extend %close;
	}

	.modalWindow__part__answer__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px;

		& > p {
			font-size: 1.6rem;
			margin: 0.6rem 0;
			text-align: center;
		}

		.modalWindow__part__answer__content__good__wrap {
			background-color: $colorBlue;
			border-radius: 100%;
			width: 45px;
			padding: 5px;
			display: flex;
			align-items: center;
			justify-content: center;

			.modalWindow__part__answer__content__good {
				margin: 5px;
				width: 13px;
				height: 25px;
				border: solid rgb(255, 255, 255);
				border-width: 0 5px 5px 0;
				transform: rotate(45deg);
			}
		}

		.modalWindow__part__answer__close__btn {
			margin: 1rem 0;
			padding: 10px 25px;
			box-shadow: 0 0 5px grey;
			cursor: pointer;
			background-color: antiquewhite;
			border: 2px solid antiquewhite;
			border-radius: 5px;

			&:hover {
				box-shadow: none;
			}
		}
	}
}